h1{
  color:#00ff00;
}
  h3{
  color:#336600;
}
li{
  border:3px solid black;
 color:#666633;
}
#BG{
  border:10px solid red;
  width:1000px;
}
.options{
  display:inline-block;
  width: 20%;
}
#kermit{
  display: none;
}
